{% extends 'base.html' %}

{% load static %}

<link href="{% static 'css/dropzone.css' %}" type="text/css" rel="stylesheet"/>

{% block content %}
<section>
    <title>Home</title>
</section>
<div class="container" >
    <div>
        <section>

            <img src="{% static 'img/BackgroundImg.png' %}" class="img-fluid" alt="BackgroundImg"  >
        </section>
    </div>
    <div class="row" style="background: lightgray">
        <section class="col-4 offset-4" id="LoginWid">
            <p>You are not logged in!</p>
            <div class="row" style="background:blanchedalmond;">
                {% if user.is_authenticated %}
                    <section class="col-4 ">
                        Hi {{ user.username }}
                        <p><a href="{% url 'logout' %}">Logout</a></p>
                    </section>      
                {% else %}
                    <section class="col-4 offset-4">
                        

                        <a href="{% url 'login' %}" class="btn btn-primary" role="button">Login</a>
                    </section>


                {% endif %}
            </div><!-- nested row -->

        </section>
        <!-- <section class="col-4" id="blank" style="background:burlywood">
                <p>TEST!</p>
        </section> -->
    </div><!--  row -->
    <form class="dropzone" action="{% url 'home' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="fallback">
            <input name="file" type="file" multiple />
        </div>
    </form>
    <button type="submit" id="submit_all">Submit</button>
</div>
<script src="{% static 'js/dropzone.js' %}"></script>
<script type="text/javascript">
    Dropzone.options.myDropzone= {

        autoProcessQueue: false,
        
        init: function() {
            var submitButton = document.querySelector("#submit_all")
            myDropzone = this;

            submitButton.addEventListener("click", function(){
                myDropzone.processQueue();
            });

            this.on("addedfile", function(){

            });
        }

    };

</script>
{% endblock  %}

